.album-results {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}

.album-results .result {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 8px;
  transition: all 0.3s ease-in;
}

.album-results .result:hover {
  opacity: 0.88;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.album-results .result > * + * {
  margin-left: 12px;
}

.album-results .result-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 28px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid #fafafa;
  text-decoration: none;
}

.album-results .result-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

.album-results .result-icon {
  width: 32px;
  height: 32px;
  transform: translateX(-12px);
  margin-left: auto;
  margin-right: 12px;
  opacity: 0;
  transition: all 0.1s ease-in;
}

.album-results .result:hover .result-icon {
  transform: translateX(0);
  opacity: 1;
}
