.page-title {
  position: relative;
  display: flex;
  max-width: 900px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 8px;
  margin: 0 auto;
}

.page-title .icon {
  margin-bottom: 16px;
}

.page-title .title {
  color: #fafafa;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.page-title .back {
  width: 80px;
  position: absolute;
  top: 16px;
  left: 0;
}
