.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  background: #1db954;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 4px;
  padding: 8px 24px;
  margin-bottom: 24px;
}

.button:hover {
  background: #289e49;
  transition: all 150ms linear;
}

.button:active {
  background: #249746;
  transition: all 150ms linear;
}
