.footer {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  margin: 24px auto;
}

.footer hr {
  height: 2px;
  margin: 0 16px 48px;
  background: #fafafa;
  border: none;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 24px 16px;
  margin: 0 auto;
}

.plug {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
}

.plug h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.plug p {
  line-height: 1.4;
  margin-top: 18px;
}

.plug p a {
  display: block;
}
